@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/*Removes default settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    
}

/*Sets the style for the webpage*/
body {
    background: url("../images/background/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFE91F;
    text-align: center;
}

/*Sets the header style*/
header {
    display: flex;
    margin-bottom: 10rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3rem;
}

section h2 {

}
/*Styles the main buttons of the game*/

#image-box {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 10px;
    height: 200px;
    justify-content: center;
}
#image-box img {
    height: 150px;
}
/*Styles the buttons that the player uses to play*/

#r {
    margin-right: 10px;
    display: none;
}

#p {
    display: none;

}

#s {
    margin-left: 10px;
    display: none;

}
/*Sets style to Welcome page*/
.welcome-box {
    width: 600px;
    height: 425;
}

#welcome-title {
    font-size: 2rem;
}
.options {
    padding-top: 20px;
    background-color: #05258f;
    height: 200px;
    width: 200px;
    padding-top: 1px;
    border: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 15px;
    }
    
.options:hover {
        background-color:#333234;
        transform: scale(1.1);
        cursor: pointer;
    }
/*Sets style to Welcome-area with rules that appeares before the game starts*/
/*Styles the result messages*/
.greeting-box {
    
    background-color: #B534D2;
    height: 300px;
    width: 600px;
    margin: auto 0;
    border: 5px solid #FFE91F;
    border-radius: 40px;
}
ul {
    margin-top: 30px;
    font-size: 1.8rem;
}
.welcome-box, li {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}

/*Sets style to the lose message that apperes if the player lose*/

#box-lose {
    display: none;
    margin-bottom: 50px;
}
#box-lose >p {
    margin-top: 80px;
    padding-left: 60px;
    text-align: center;
    font-size: 1.5rem;
}

/*Sets style to the lose message that apperes if the player win*/ 

#box-win {
    display: none;
    margin-bottom: 50px;
}


#box-win >p {
    margin-top: 80px;
    text-align: center;
    font-size: 1.5rem;
}


/* style to list in the opening page*/
ul {
    list-style-position: inside;
    margin-bottom: 40px;
}

/*Sets style to score-box*/
#score-box {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 6px solid #FFE91F;
    border-radius: 1rem;
    background-color: #B534D2;
    width: 21rem;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 2rem;
}
.score {
    margin: 1rem;
    border: 3px solid #FFE91F;
    border-radius: 9px;
    font-size: 2rem;
    padding: 2px 10px;
}


/*Styles result message that declare who wins or loses each round*/
#win-lose {
    font-size: 1.5rem;
}
#info{
    height: 150px;
    margin-bottom: 100px;
    font-size: 1.5rem;
}

/*Styles the button that starts the game*/
#start {
    
    width: 18rem;
    height: 8rem;
    background: none;
    border: none;
    color: #FFE91F;
    font-size: 3rem;
    background: #B534D2;
    border-radius: 0.5rem;
    margin: 0 auto;
}

/*Styles the button that restarts the game*/
#restart-box {
    height: 350px;
    width: 200px;
    margin: auto;
    margin-top: -150px;
    padding-bottom: 5px;
}

#restart {
    display: none;
    width: 18rem;
    height: 8rem;
    background: none;
    border: none;
    color: #FFE91F;
    font-size: 3rem;
    background: #B534D2;
    border-radius: 0.5rem;
    margin: 0 auto;
    cursor: pointer;
}
#restart:hover {
    cursor: pointer;
    background-color: aqua;
    transform: scale(1.1);
}
