@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/*Removes default settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

/*Sets the background style*/
body {
    height: 100vh;
    background: url("../images/background/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}